/* relative size set (line-height) */
.uab {font-size:90%;line-height:150%;}
.uam {
	font-size:75%;
	line-height:150%;
	padding-top: 5px;
	padding-left: 3px;
}
.uas {font-size:70%;line-height:150%;}
.style1 {
	font-size:75%;
	line-height:150%;
	font-weight: normal;
	color: #000040;
}

#press_pressclip td, #press_press td{font-size:70%;line-height:150%; vertical-align:top;}
#press_pressclip .date{font-weight:bold;}

/* absolute size set */
.uamabs {font-size:12px;}
.uasabs {font-size:10px;}

/* relative size set (no-line-height) */
.uamnolh {font-size:75%;}
.footerlh { color:#adc2f9; font-size:75%; line-height:120%;}

.line {
	border: thin double #CCCCCC;
}
