@charset "utf-8";

/* body
========================================== */
body {
	width:100%;
	height:100%;
}

* html body {
	text-align:center;
}

/* wrapper
========================================== */
div#wrapper {
	margin:0px auto;
	width:758px;
	background:url(/images/common/wrapper_bg.gif) left top repeat-y;
}

* html div#wrapper {
	text-align:left;
}

/* contents
========================================== */
div#contents {
	width:750px;
	margin:0px 4px;
}


/* contentsInner
========================================== */
div#contentsInner {
	width:720px;
	margin:0px 15px 45px 15px;
	background:url(/images/common/contents_inner_bg.gif) left top repeat-y;
}


/* leftSide
========================================== */
div#leftSide {
	width:161px;
	float:left;
}


/* main
========================================== */
div#main {
	width:540px;
	float:right;
	padding:0px;
}

* html div#main {
	width:550px;
	float:right;
	padding:0px 0px 0px 10px;
}





/* withoutGN_LN
==========================================
========================================== */
body.withoutGN_LN {
	width:100%;
	height:100%;
}

/* contentsInner
========================================== */
body.withoutGN_LN div#contentsInner {
	width:710px;
	margin:0px 20px 45px 20px;
	background-image:none;
}


