@charset "Windows-31J";

/* === Filename is "default.css" ===

### basic settings

*/


/* === Universal selector === */

* {
	margin: 0;
	padding: 0;
	color: #333;
	text-align: left;
}

/* === Body Module === */

body {
	font-size: 100%;
	font-family: "‚l‚r ‚oƒSƒVƒbƒN", "ƒqƒ‰ƒMƒmŠpƒS Pro W3", Osaka, Helvetica, Arial, sans-serif;
	line-height: 1.5;
}

/* ### HACK for [IE7] ### */
*+html body {
	font-family: "ƒƒCƒŠƒI", "‚l‚r ‚oƒSƒVƒbƒN", Helvetica, Arial, sans-serif;
}
/* ### HACK for [IE7] ### */

/* ### HACK for [Opera8~] ### */
*+html>/**/body {
	font-family: "‚l‚r ‚oƒSƒVƒbƒN", Helvetica, Arial, sans-serif;
}
/* ### HACK for [Opera8~] ### */


/* === Text Module === */

h1,h2,h3,h4,h5,h6 {
	clear: both;
}

h1,
h1.use,
h1.save,
h1.howto,
h1.use-top,
h1.use-category,
h1.save-category,
h1.howto-category,
h1.medama {
	clear: both;
	margin-bottom: 20px;
	padding-top: 12px;
	padding-bottom: 10px;
	padding-left: 15px;
	background-image: url(../images/h1-bg.jpg);
	background-position: right top;
	background-repeat: no-repeat;	
	font-size: 125%;
	line-height: 1;
	font-weight: bold;
}


/* case on subtitle

small font
BIG FOOOOOONT

*/

h1.category,
h1.use-category,
h1.save-category,
h1.howto-category {
	padding-top: 7px;
}

h1 span {
	display: block;
	margin-bottom: 1px;
	font-size: 60%;
	font-weight: bold;
}

h2,
h2.set,
h2.list {
	clear: both;
	width: 100%;
	min-height: 32px;
	margin-bottom: 15px;
	background-image: url(/common/images/h2-bg.jpg);
	background-position: right top;
	background-repeat: no-repeat;	
	font-size: 100%;
}
/* insert ie6.css */

h2.asset,
h2.assetlist {
	clear: both;
	width: 100%;
	min-height: 32px;
	background-image: url(/common/images/h2-asset-bg.jpg);
	background-position: right top;
	background-repeat: no-repeat;	
	font-size: 100%;
}

h2.set,
h2.asset,
h2.assetlist {
	margin: 0;
}

h2.list span.headline,
h2.assetlist span.headline {
	float: left;
}

h3 {
	margin-bottom: 10px;
	font-size: 80%;
	font-weight: bold;
}

h3 span img {
	vertical-align: middle;
}

h4 {
	margin-bottom: 10px;
	font-size: 80%;
	font-weight: bold;
}


p {
	font-size: 70%;
}

em {
	font-style: normal;
	font-weight: normal;
}

strong {
	font-style: normal;
	font-weight: bold;
}

pre,
address,
cite {
	font-size: 70%;
	font-style: normal;
	font-weight: normal;
}


p,
ul li,
ol li,
dl dt,
dl dd {
	line-height: 1.5;
}
/* sumi */

/* === Link Module === */

a:link {
	color: #0066cc;
	text-decoration: underline;
}

a:visited {
	color: #82adce;
	text-decoration: underline;
}

a:active {
	color: #0066cc;
	text-decoration: underline;
}

a:hover {
	color: #00baff;
	text-decoration: underline;
}

h1 a:link,
h1 a:hover,
h1 a:active,
h1 a:visited {
	text-decoration: none;
}

/* === List Module === */

ul,
ol,
dl {
	list-style-type: none;
}

ul li,
ol li,
dl dt,
dl dd {
	font-size: 70%;
}

li li,
li p,
li pre,
li dt,
li dd,
dt li,
dt p,
dt pre,
dt dt,
dt dd,
dd li,
dd p,
dd pre,
dd dt,
dd dd {
	font-size: 100%;
}


/* === Table Module === */

table,
table th,
table td {
	border-collapse: collapse;
	vertical-align: top;
}

table th {
	font-weight: bold;
}


/* ===Image Module=== */

img,
img a {
	border: 0;
}

li img {
	vertical-align: bottom;
}


/* === Form Module === */

form {
	text-align: center;
}


/* textsize = 12px */
form select,
form input,
form textarea {
	font-size: 100%;
	vertical-align: middle !important;
}

form p select,
form dd select,
form p input,
form dd input {
	font-size: 117%;
	vertical-align: middle !important;
}

form p textarea,
form dd textarea {
	vertical-align: middle !important;
}

/* for option Area bug */
select option {
	padding-right: 1em;
}

/* ### HACK for [Opera] ### */
*+html>/**/body select option {
	padding: 0;
}
*+html>/**/body select {
	padding: 1px 1em 1px 0;
}

*+html>/**/body input.submit {
	padding: 1.5px 0.5em;
}
/* ### /HACK for [Opera] ### */


textarea#text {
	height: 5em;
}

input#adtype,
textarea#text {
	width: 380px;	
}

input#city {
	width: 200px;
}

input#companyname,
input#companyurl,
input#department,
input#fullname,
input#email,
input.email,
input#password,
input#currentpassword,
input#password-confirm,
input#phone,
input#street {
	width: 180px;	
}

input#familyname-kanji,
input#firstname-kanji,
input#familyname-kana,
input#firstname-kana {
	width: 90px;
}

input#zip3 {
	width: 45px;
}

input#zip4 {
	width: 60px;
}

input#changemile,
input#bankName,
input#bankBranch,
input#bankNum,
input#nameId,
input#nameIdfirst,
input#nameIdfamily,
input.data {
	width: 88px;
	margin-bottom: 2px;
	font-size: 117%;
}

input#etc,
input.etc {
	width: 300px;
}

/* === JS/Flash Module === */

noscript {

}

div#no-flash {
}

div#no-flash p.getFlashBn {
}


/* h2 with RSS
========================================== 
========================================== */
div.h2WithRSS {
	background:#ffffff url(/common/images/h2_rss_bg.gif) no-repeat left top;
	width:100%;
	height:32px;
	margin:0px 0px 15px 0px;
}

div.h2WithRSS h2 {
	width:70%;
	float:left;
	padding:0px 0px 0px 39px;
	margin:0px;
	height:32px;
	line-height:32px;
	background:none;
	font-size:80%;
}

div.h2WithRSS a.rss {
	width:46px;
	float:right;
	margin:7px 17px 7px 0px;
}

.floatReset {
	font-size:0px;
	line-height:0px;
	height:0px;
	clear:both;
}
div.h2WithRSS p {
	float:right;
	font-size:70%;
	margin:5px 0px 0px 0px;
}



/* === Clear Fix List === */

h2.list:after,
h2.assetlist:after {
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
	content: ".";
}
h2.list,
h2.assetlist {
	display: inline-table;
	min-height: 1%;
}
/* for macIE \*/
* html h2.list,
* html h2.assetlist {
	height: 1%;
}
h2.list,
h2.assetlist {
	display: block;
}
/* end of for macIE */