@charset "Windows-31J";

/* === Filename is "font.css" ===

### for windows font-family settings

*/


/* === Body Module === */

body {
	font-family: "ＭＳ Ｐゴシック", Helvetica, Arial, sans-serif;
}

/* ### HACK for [IE7] ### */
*+html body {
	font-family: "メイリオ", "ＭＳ Ｐゴシック", Helvetica, Arial, sans-serif;
}
/* ### /HACK for [IE7] ### */

/* ### HACK for [Opera8~] ### */
*+html>/**/body {
	font-family: "ＭＳ Ｐゴシック", Helvetica, Arial, sans-serif;
}
/* ### HACK for [Opera8~] ### */