@charset "Windows-31J";

/* === Filename is "modules.css" ===

### module layout settings


/* simple classes */

/* 左寄せ */
.leftside {
	text-align: left;
}

/* 中央寄せ */
.centering {
	text-align: center;
}

/* 右寄せ */
.rightside {
	text-align: right;
}


/* === Layout Table === */
table.section0 { clear: both; margin-bottom: 0; }
table.section05 { clear: both; margin-bottom: 5px; }
table.section10 { clear: both; margin-bottom: 10px; }
table.section15 { clear: both; margin-bottom: 15px; }
table.section20 { clear: both; margin-bottom: 20px; }
table.section25 { clear: both; margin-bottom: 25px; }
table.section30 { clear: both; margin-bottom: 30px; }
table.section40 { clear: both; margin-bottom: 40px; }
table.section0 td,
table.section05 td,
table.section10 td,
table.section15 td,
table.section20 td,
table.section25 td,
table.section30 td,
table.section40 td { padding: 0 15px; }
table.section0 td td,
table.section05 td td,
table.section10 td td,
table.section15 td td,
table.section20 td td,
table.section25 td td,
table.section30 td td,
table.section40 td td { padding: 0; }
table.step td { text-align: center; }

/* 中央で分割 */
div#content table.sectionJustify {
	margin-bottom: 15px;
	padding-bottom: 20px;
	border-bottom: 1px dashed #d4d4d4;
}

div#content table.sectionJustify td.odd {
	padding-right: 7px;
}

div#content table.sectionJustify td.even {
	padding-left: 8px;
}

/* #2column table */
/* image left patern */
table.section0 td.img-l img,
table.section05 td.img-l img,
table.section10 td.img-l img,
table.section15 td.img-l img,
table.section20 td.img-l img,
table.section25 td.img-l img,
table.section30 td.img-l img,
table.section40 td.img-l img { margin-right: 15px; text-align: left; }

table.section0 td.img-l,
table.section0 td.img-l p,
table.section05 td.img-l,
table.section05 td.img-l p,
table.section10 td.img-l,
table.section10 td.img-l p,
table.section15 td.img-l,
table.section15 td.img-l p,
table.section20 td.img-l,
table.section20 td.img-l p,
table.section25 td.img-l,
table.section25 td.img-l p,
table.section30 td.img-l,
table.section30 td.img-l p,
table.section40 td.img-l,
table.section40 td.img-l p { text-align: right; }

/* image right patern */
table.section0 td.img-r img,
table.section05 td.img-r img,
table.section10 td.img-r img,
table.section15 td.img-r img,
table.section20 td.img-r img,
table.section25 td.img-r img,
table.section30 td.img-r img,
table.section40 td.img-r img { margin-left: 15px; text-align: right; }

table.section0 td.img-r,
table.section0 td.img-r p,
table.section05 td.img-r,
table.section05 td.img-r p,
table.section10 td.img-r,
table.section10 td.img-r p,
table.section15 td.img-r,
table.section15 td.img-r p,
table.section20 td.img-r,
table.section20 td.img-r p,
table.section25 td.img-r,
table.section25 td.img-r p,
table.section30 td.img-r,
table.section30 td.img-r p,
table.section40 td.img-r,
table.section40 td.img-r p { text-align: right; }


/* === 2column DL === */
dl.relation {
	width: 100%;
}

dl.relation dt {
	float: left;
	width: 50%;
}

dl.relation dd {
	float: left;
	width: 50%;
}

/* img + txt  (left image) */
dl.relation-img {
	width: 100%;
}


dl.relation-img dt {
	float: left;
	width: 107px;
}

dl.relation-img dd {
	float: left;
	width: 563px;
}

body.clm1 dl.relation-img dd {
	float: left;
	width: 533px;
}


dl.relation-img dd p {
	margin-left: 15px;
}

/* img + txt  (right image) */
dl.relation-img2 {
	width: 100%;
}


dl.relation-img2 dt {
	float: right;
	width: 107px;
}

dl.relation-img2 dd {
	float: left;
	width: 563px;
}

body.clm1 dl.relation-img2 dd {
	float: left;
	width: 533px;
}


dl.relation-img2 dd p {
	margin-right: 15px;
}


/* banner lists */

dl.bnCol .mile,
dl.last-bnCol .mile {
	margin-bottom: 3px;
	padding-right: 3px;	
	font-size: 110%;
	float: left;
}

dl.bnCol li.iconProviso,
dl.last-bnCol li.iconProviso {
	float: left;
	padding-left: 5px;	
	margin-bottom: 3px;
	border-left: 1px solid #D9D9D9;
}



dl.bnCol dt,
dl.last-bnCol dt {
	margin-bottom: 5px;
}

dl.bnCol .icon,
dl.last-bnCol .icon {
	clear: both;
	margin-bottom: 7px;
}

dl.bnCol .bn,
dl.last-bnCol .bn {
	margin-bottom: 0;
}

dl.bnCol .txtbn,
dl.last-bnCol .txtbn {
	clear: both;
}

dl.bnCol dd,
dl.last-bnCol dd {
	margin-bottom: 10px;
}


body.clm2 div#bannerColumn div.bannerSection div.attentionlist .txtbn {
	margin-bottom: 5px;
}

body.clm2 div#bannerColumn div.bannerSection div.attentionlist .txt {
	margin-bottom: 10px;
	line-height: 1.1;
}

body.clm2 div#bannerColumn div.pastmedamaSection div.pastlist dt {
	margin-bottom: 3px;
}

body.clm2 div#bannerColumn div.pastmedamaSection div.pastlist dd li.txt {
	margin-bottom: 0;
	line-height: 1.1;
}

body.clm2 div#bannerColumn div.pastmedamaSection div.pastlist dd li.limit {
	margin-bottom: 10px;
	line-height: 1.1;
}



/* keyvisual */

div.keyVisual {
	margin-bottom: 15px;
	text-align: center;
}

/* ページ下部点線 */

.end-hr {
	border-bottom: 1px dashed #d4d4d4;
}

.end-hr p {
	margin-bottom: 20px;
}


/* H2 BOX */

table.h2asset {
	width: 100%;
}

table.h2asset td.rt {
	width: 3px;
	background-color: #f4f4f4;
	background-image: url(/common/images/h2-box-bg-r.gif);
	background-position: left top;
	background-repeat: repeat-y;
}

table.h2asset td.rtb {
	width: 3px;
	height: 3px;
	background-image: url(/common/images/h2-box-bg-rb.gif);
	background-position: left top;
	background-repeat: no-repeat;
}

table.h2asset td.lt {
	width: 3px;
	background-color: #f4f4f4;
	background-image: url(/common/images/h2-box-bg-l.gif);
	background-position: right top;
	background-repeat: repeat-y;
}

table.h2asset td.ltb {
	width: 3px;
	height: 3px;
	background-image: url(/common/images/h2-box-bg-lb.gif);
	background-position: right top;
	background-repeat: no-repeat;
}

table.h2asset td.bm {
	height: 3px;
	background-image: url(/common/images/h2-box-bg-b.gif);
	background-position: left top;
	background-repeat: repeat-x;
}

table.h2asset td table.h2assetBody {
	width: 100%;
	background-color: #f4f4f4;
}

table.h2asset td table.h2assetBody tr td {
	padding: 10px;
}

table.h2asset td table.h2assetBody tr td img.bn {
	margin-bottom: 0;
}


/* banner */
.bn {
	margin-bottom: 15px;
	border: 1px solid #999;
}

/* slash border banner */
div.sla {
	padding: 4px;
	background-image: url(/common/images/banner/bn-bg-slash.gif);
}

.sla-bn {
	margin-bottom: 15px;
}

.sla-bn a {
	display: block;
	padding: 4px;
	background-image: url(/common/images/banner/bn-bg-slash.gif);
}

/* slash border banner blue */
.sla-bn-blue {
	margin-bottom: 15px;
}

.sla-bn-blue a {
	display: block;
	padding: 4px;
	background-image: url(/common/images/banner/bn-bg-slash-blue.gif);
}



/* PR kuji */
div.kuji p {
	min-height: 50px;
	margin-bottom: 0;
	padding-top: 4px;
	padding-left: 66px;
	background-color: #fff;
	background-image: url(/common/images/banner/bn-bg-kuji.jpg);
	background-position: left top;
	background-repeat: no-repeat;
}

* html div.kuji p {
	height: 54px;
}
/* for ie6 hack */


/* contents table v-top */
table.sheetTable th,
table.sheetTable td {
	vertical-align: top;
}


/* -------------------- キャンペーン詳細テーブル -------------------- */
/* ----- 外枠 ----- */
table.detailTable {
	margin-bottom: 15px; 
	background-color: #F2F6FD;
	background-image: url(/common/images/bg-detailtable-body.jpg);
	background-repeat: no-repeat;
	background-position: bottom center;
}

table.detailTable table.head,
table.detailTable table.body,
table.detailTable table.btn {
	margin: 0 15px;
	width: 500px;
}

table.detailTable table.head td { vertical-align: bottom; }
table.detailTable table.body td { vertical-align: top; }

table.detailTable table.mileInfoTable {
	background-image: url(/common/images/bg-detailtable-head.jpg);
	height: 39px;
	vertical-align: middle;
	margin: 0 0 10px 0;
	background-color: #BEDCF6;
	background-position: left top;
	background-repeat: no-repeat;
}

table.detailTable table.head {
	margin-bottom: 10px;
}

table.detailTable table.head td {
	vertical-align: bottom;
}

table.detailTable table.body {
	background-image: url(/common/images/border-slot.gif);
	background-repeat: repeat-x;
	background-position: center bottom;
}

table.detailTable table.body table {
	margin-bottom: 12px;
	background: none;
}

table.detailTable table.body p {
	margin: 0 0 12px 10px;
}


/* 通常会員|在庫あり */
table.detailTable table.mileInfoTable dl dt,
table.detailTable table.mileInfoTable dl dd {
	margin: 0;
}
/* sumi 070223 */

table.detailTable table.mileInfoTable dl dt img,
table.detailTable table.mileInfoTable dl dd img {
	vertical-align: top;
}
/* sumi 070223 */

/* キャンペーン概要 */

table.campSummary tr th {
	width: 190px;
	border-bottom: 1px dashed #d4d4d4;
	margin-bottom: 5px;
}

table.campSummary tr td {
	width: 310px;
	border-bottom: 1px dashed #d4d4d4;
}

table.campSummary tr th p,
table.campSummary tr td p {
	margin: 3px;
	font-size: 80%;
	font-weight: bold;
}

table.campSummary tr th.lastsel,
table.campSummary tr td.lastsel {
	border: none;
}

/* -------------------- 商品画像テーブル -------------------- */
table.imgTable {
	width: 198px;
}

table.imgTable td {
	text-align: center;
	background-color: #FFFFFF;
}

table.imgTable td.headL {
	width: 13px;
	height: 13px;
	background-image: url(/common/images/bg-imgtable-head-l.gif);
	background-repeat: no-repeat;
}
table.imgTable td.headC {
	height: 13px;
	background-image: url(/common/images/bg-imgtable-head-c.gif);
	background-repeat: repeat-x;
}
table.imgTable td.headR {
	width: 15px;
	height: 13px;
	background-image: url(/common/images/bg-imgtable-head-r.gif);
	background-repeat: no-repeat;
}

table.imgTable td.bodyL { background-image: url(/common/images/bg-imgtable-body-l.gif); }
table.imgTable td.bodyR { background-image: url(/common/images/bg-imgtable-body-r.gif); }

table.imgTable td.bottomL {
	width: 13px;
	height: 15px;
	background-image: url(/common/images/bg-imgtable-bottom-l.gif);
}
table.imgTable td.bottomC {
	height: 15px;
	background-image: url(/common/images/bg-imgtable-bottom-c.gif);
}
table.imgTable td.bottomR {
	width: 15px;
	height: 15px;
	background-image: url(/common/images/bg-imgtable-bottom-r.gif);
}

/* 詳細テーブル・ヘッド */
table.detailTable table.head h2,
table.medamaTable table.head h2 {
	background: none;
	min-height: 1em;
	font-size: 80%;
	margin: 0;
	line-height: 1.2;
}

table.detailTable table.head p.flag,
table.detailTable table.head p.date { text-align: right; }






/* -------------------- 特典詳細テーブル -------------------- */
/* ----- 外枠 ----- */


div#spenddetail table.detailTable {
	margin-bottom: 15px; 
	background-color: #F2F6FD;
	background-image: url(/common/images/bg-detailtable-body.jpg);
	background-repeat: repeat-x;
	background-position: bottom center;
}

div#spenddetail table.detailTable table.head,
div#spenddetail table.detailTable table.body,
div#spenddetail table.detailTable table.btn {
	margin: 0 15px;
}

div#spenddetail table.detailTable table.head td { vertical-align: bottom; }
div#spenddetail table.detailTable table.detailbody td { vertical-align: top; }

div#spenddetail table.detailTable table.detailbody {
	margin: 5px 10px 5px 20px;
	background-image: url(/common/images/bg-detailtable.gif);
	background-repeat: repeat-y;
	background-position: center;
}


div#spenddetail table.detailTable table.mileInfoTable {
	background-image: url(/common/images/bg-spendTable-head.jpg);
	height: 39px;
	vertical-align: middle;
	margin: 0 0 10px 0;
	background-color: #BEDCF6;
	background-position: left top;
	background-repeat: no-repeat;
}
/* sumi 070223 */

div#spenddetail table.detailTable table.head {
	margin-bottom: 20px;
}

div#spenddetail table.detailTable table.head td {
	vertical-align: bottom;
}

div#spenddetail table.detailTable table.body {
	background-image: url(/common/images/border-slot.gif);
	background-repeat: repeat-x;
	background-position: center bottom;
}

div#spenddetail table.detailTable table.body table {
	margin-bottom: 12px;
	background: none;
}

div#spenddetail table.detailTable table.body p {
	margin: 0 0 12px 10px;
}

div#spenddetail table.detailTable td.imgSide {
	border-right: 1px solid #D6D6D6;
}
/* sumi 070223 */


table.detailTableBody em.attention,
table.detailTableBody em.must {
	font-size: 100% !important;
}


/* キャンペーン概要 */

div#spenddetail table.campSummary tr th {
	border-bottom: 1px dashed #d4d4d4;
	margin-bottom: 5px;
}

div#spenddetail table.campSummary tr td {
	border-bottom: 1px dashed #d4d4d4;
}

div#spenddetail table.campSummary tr th p,
div#spenddetail table.campSummary tr td p {
	margin: 3px;
	font-weight: bold;
}

div#spenddetail table.campSummary tr th.lastsel,
div#spenddetail table.campSummary tr td.lastsel {
	border: none;
}

/* -------------------- 商品画像テーブル -------------------- */
div#spenddetail table.imgTable {
	width: auto;
	margin: 0 0 10px 50px;
}

div#spenddetail table.imgTable td {
	text-align: center;
	background-color: #FFFFFF;
}

div#spenddetail div#spenddetail table.imgTable td.headL {
	width: 13px;
	height: 13px;
	background-image: url(/common/images/bg-imgtable-head-l.gif);
	background-repeat: no-repeat;
}
div#spenddetail table.imgTable td.headC {
	height: 13px;
	background-image: url(/common/images/bg-imgtable-head-c.gif);
	background-repeat: repeat-x;
}
div#spenddetail table.imgTable td.headR {
	width: 15px;
	height: 13px;
	background-image: url(/common/images/bg-imgtable-head-r.gif);
	background-repeat: no-repeat;
}

div#spenddetail table.imgTable td.bodyC {
	padding: 20px 0;
}

div#spenddetail table.imgTable td.bodyL { background-image: url(/common/images/bg-imgtable-body-l.gif);margin-left: 20px;}
div#spenddetail table.imgTable td.bodyR { background-image: url(/common/images/bg-imgtable-body-r.gif); }

div#spenddetail table.imgTable td.bottomL {
	width: 13px;
	height: 15px;
	background-image: url(/common/images/bg-imgtable-bottom-l.gif);
}
div#spenddetail table.imgTable td.bottomC {
	height: 15px;
	background-image: url(/common/images/bg-imgtable-bottom-c.gif);
}
div#spenddetail table.imgTable td.bottomR {
	width: 15px;
	height: 15px;
	background-image: url(/common/images/bg-imgtable-bottom-r.gif);
}


/* 特典交換完了 */



table.spendFinishTable table.imgTable td.headL {
	background-image: url(/common/images/bg-spendimgtable-head-l.gif);
}
table.spendFinishTable table.imgTable td.headC {
	background-image: url(/common/images/bg-spendimgtable-head-c.gif);
}
table.spendFinishTable table.imgTable td.headR {
	background-image: url(/common/images/bg-spendimgtable-head-r.gif);
}

table.spendFinishTable table.imgTable td.bodyL { background-image: url(/common/images/bg-spendimgtable-body-l.gif);margin-left: 20px;}
table.spendFinishTable table.imgTable td.bodyR { background-image: url(/common/images/bg-spendimgtable-body-r.gif); }

table.spendFinishTable table.imgTable td.bottomL {
	background-image: url(/common/images/bg-spendimgtable-bottom-l.gif);
}
table.spendFinishTable table.imgTable td.bottomC {
	background-image: url(/common/images/bg-spendimgtable-bottom-c.gif);
}
table.spendFinishTable table.imgTable td.bottomR {
	background-image: url(/common/images/bg-spendimgtable-bottom-r.gif);
}


/* 詳細テーブル */


div#spenddetail table.detailTable h2 {
	width: 330px;
	min-height: 1.1em;
	background: none;
	font-size: 80%;
	margin: 0 10px 5px 20px;
	line-height: 1.2;
}

div#spenddetail p.text {
	width: 330px;
	margin: 0 10px 10px 20px;
}

div#spenddetail table.detailTable table.head p.flag,
div#spenddetail table.detailTable table.head p.date { text-align: right; }


div#spenddetail table.sheetTable {
	width: 325px;
	margin-bottom: 10px;
	margin-left: 20px;
}

div#spenddetail table.sheetwrapper {
	width: 325px;
	margin-bottom: 15px;
	margin-left: 20px;
	vertical-align: middle;
}

div#spenddetail table.sheetwrapper td table.sheetTable {
	width: 93px;
	margin: 0;
}
div#spenddetail table.sheetTable th {
	width: 138px;
	background-color: #e8ffff;
}

div#spenddetail table.sheetTable tr.error th,
div#spenddetail table.sheetTable tr.error td {
	background-color: #ffeac9;
}

div#spenddetail table.sheetwrapper td table.sheetTable th {
	width: 93px;
	margin: 0;
}


div#spenddetail table.sheetwrapper table.sheetTable td,
div#spenddetail table.sheetwrapper table.sheetTable td p {
	text-align: center;
	vertical-align: middle;
}


div#spenddetail table.sheetTable td {
	background-color: #fff;
}

/* エラーアイコン */
table.detailTable .error-icon {
	margin-right: 15px;
	margin-left: 15px;
}

td.icon {
	vertical-align: middle;
}

td.icon img {
	margin: 2px;
}

td.exchange,
td.exchange p {
	text-align: center;
}


table.detailTablefooter p {
	vertical-align: top;
	margin: 10px 0 0 15px;
	padding-top: 15px;
	padding-bottom: 10px;
	border-top: 1px dashed #d4d4d4;	
}

table.detailTablefooter p img {
	vertical-align: top;
}

div#spenddetail dl.status {
	border: 1px solid #D3D3D3;
	width: 130px;
	padding: 5px;
	background-color: #fff;
	margin-top: 3px;
	/* insert ie6.css */
}
div#spenddetail dl.status dt {
	float: left;
	width: 65px;
	color: #ff6600;
	font-size: 80%;
	font-weight: bold;
	line-height: 1.2;
	text-align: center;
}
div#spenddetail dl.status dd {
	float: left;
	width: 49px;
	border-left: 1px solid #CCC;
	padding-left: 5px;
}
div#spenddetail dl.status dt img {
	vertical-align: baseline;
}



/* === bottun layout === */


/* ボタンが１つ中央の場合 */
p.btnSingle {
	margin-top: 5px;
	text-align: center;
}

/* ボタンが２つ並ぶ場合 */
/* 右側ボタン */
p.btnRight {
	text-align: left;
}
/* 左側ボタン */
p.btnLeft {
	text-align: right;
}



/* -------------------- mile common -------------------- */
dl.mile {
	border: 1px solid #d4d4d4;
	width: 120px;
	padding: 5px;
	background-color: #fff;
	margin-top: 6px;
	/* insert ie6.css */
}
dl.mile dt {
	float: left;
	padding-right: 5px;
	color: #ff6600;
	font-size: 80%;
	font-weight: bold;
	text-align: center;
	line-height: 1;
}

dl.mile dd {
	float: left;
	width: 49px;
	border-left: 1px solid #CCC;
	padding-left: 5px;
	line-height: 1;
}

*+html body dl.mile dd {
	margin-top: -1px;
}

dl.mile dd img {
	vertical-align: bottom;
}

/* unique */
div#spenddetail table.detailTable dl.mile,
div#detailColumn table.detailTable dl.mile {
	margin-left: 43px;
}

div#spenddetail table.mileInfoTable dl.mile {
	width: 110px;
	margin: 2px 0 2px 43px;
}
	/* insert ie6.css */
* html body div#spenddetail table.mileInfoTable dl.mile,
*+html body div#spenddetail table.mileInfoTable dl.mile {
	min-width: 100px;
	max-width: 120px;
}

div#spenddetail table.detailTable dl.mile dd {
	width: 38px;
}
/* sumi 070223 */

div#spenddetail table.detailTable dl.mile {
	width: 110px;
	text-align: center;
}
/* insert ie6.css */




/* -------------------- 基本リスト -------------------- */
ul.listBullet li {
	padding-left: 12px;
	background-image: url(/common/images/mark-bullet.gif);
	background-position: left 0.2em;
	background-repeat: no-repeat;
	margin-bottom: 7px;
}
* html ul.listBullet li {
	background-position: left 5px;
}
/* for ie6 hack */



/* -------------------- icon -------------------- */
table.icon {
	margin-top: 0.5em;
}

table.icon img {
	margin-left: 4px;
}

table.campTable table.mileInfoTable td table.icon {
	margin-top: 10px;
}
/* sumi 070223 */

/* -------------------- ボタンテーブル -------------------- */
table.detailTable table.btn,
table.medamaTable table.btn {
	text-align: center;
}

table.medamaTable table.btn td p,
table.detailTable table.btn td p,
table.detailTable table.btn td ul {
	text-align: center;
	margin: 8px 0 18px 0;
}

table.detailTable table.btn ul li {
	display: inline;
}


/* コンテンツ内table用 */
table.sheetTable {
	border-top: 1px solid #D5D5D5;
	border-right: 1px solid #D5D5D5;}

table.sheetTable tr th,
table.sheetTable tr td {
	border-bottom: 1px solid #D5D5D5;
	border-left: 1px solid #D5D5D5;
	padding: 7px;
}

table.sheetTable td {
	padding-bottom: 0;/* ulの下マージンがあるのでマージンを0に */
}

table.sheetTable th {
	width: 130px;
	background-color: #F2F6FD;
	vertical-align: top;
}

table.sheetTable th p {
	font-size: 80%;
}

table.sheetTable th {
	vertical-align: top;
}

table.sheetTable td p {
	font-size: 70%;
}

/* エラー */
table.sheetTable tr.error th,
table.sheetTable tr.error td {
	background-color: #ffeac9;
}


/* 入力フォーム用 */
table.sheet {
	border-bottom: 1px solid #D5D5D5;
	border-right: 1px solid #D5D5D5;}

table.sheet tr th,
table.sheet tr td {
	border-top: 1px solid #D5D5D5;
	border-left: 1px solid #D5D5D5;
	padding: 7px;
}

table.sheet td {
	padding-bottom: 0;/* ulの下マージンがあるのでマージンを0に */
}

table.sheet td.namecell {
	border-left: none;
}

table.sheet td.namecellNote {
	padding-top: 0;
	border-top: none;
}

table.sheet th {
	width: 170px;
	background-color: #e8ffff;
}

table.sheet input,
table.sheet select {
	margin: 0 2px 2px 2px;
}

/* エラー */
table.sheet tr.error th,
table.sheet tr.error td {
	background-color: #ffeac9;
}

/* 注意喚起 */
dl.attention dt {
	min-height: 20px;
	margin-bottom: 5px;
	padding: 5px 3px 3px 23px;
	background-image: url(/common/images/icon/attention.gif);
	background-position: left center;
	background-repeat: no-repeat;
	font-size: 80%;
	font-weight: bold;
}

dl.attention dd {
	min-height: 20px;
	font-size: 80%;
	line-height: 1.3;
}

/* 1行パターン */
.attention-icon	{
	min-height: 20px;
	margin-bottom: 5px;
	padding: 5px 3px 3px 30px;
	border: 3px double #89BFED;
	background-image: url(/common/images/icon/attention.gif);
	background-position: 10px center;
	background-repeat: no-repeat;
	font-size: 80%;
	font-weight: bold;
}


/* エラー */
dl.error dt {
	min-height: 20px;
	margin-bottom: 5px;
	padding: 5px 3px 3px 23px;
	background-image: url(/common/images/icon/error.gif);
	background-position: left center;
	background-repeat: no-repeat;
	font-size: 80%;
	font-weight: bold;
}

dl.error dd {
	color: #ff0000;
	font-size: 80%;
	line-height: 1.3;
}


/* 1行パターン */
.error-icon	{
	min-height: 20px;
	margin-bottom: 5px;
	padding: 5px 3px 3px 30px;
	border: 3px double #89BFED;
	background-image: url(/common/images/icon/error.gif);
	background-position: 10px center;
	background-repeat: no-repeat;
	color: #ff0000;
	font-size: 80%;
	font-weight: bold;
}

/* insert ie6 */

/* === recommend === */
table.recommend,
table.recommend p.sla-bn {
	margin-bottom: 10px;
}


/* === campaign table === */

dl.bnCol ul li.mile,
dl.last-bnCol ul li.mile {
	font-size: 110%;
	line-height: 15px;
}
dl.bnCol ul li.iconProviso,
dl.last-bnCol ul li.iconProviso {
	line-height: 1;
}

table.bnCol ul li.icon {
	clear: both;
	margin-bottom: 7px;
}

table.bnCol ul li.txtbn {
	clear: both;
	margin-right: 15px;
}

table.col4 tr.last-row .bnCol,
table.col6 tr.last-row .bnCol {
	margin-bottom: 0;
}

/* 4column */
table.col4 {
	clear: both;
	margin-bottom: 20px;
	background-image: url(/common/images/bg-bn-4.gif);
	background-position: left top;
	background-repeat: repeat-y;
}

table.col4 td {
	width: 165px;
	vertical-align: top;
}

table.col4 td dl.bnCol {
	width: 137px;
}

body.clm2 table.col4 {
	background-image: url(/common/images/bg-bn-4col2.gif);
}

body.clm2 table.col4 td {
	width: 177px;
	vertical-align: top;
}

body.clm2 table.col4 td dl.bnCol {
	width: 149px;
}




body.clm2 div.campErea4 {
	clear: both;
	margin: 0 15px 20px 0;
	background-image: url(/common/images/bg-bn-4col2.gif);
	background-position: left top;
	background-repeat: repeat-y;
}

body.clm2 div.campErea4 div.cel {
	margin-bottom: 10px;
}

body.clm2 div.campErea4 dl.bnCol {
	float: left;
	width: 149px;
	margin: 0 15px 0 15px;
}

* html body.clm2 div.campErea4 dl.bnCol {
	display: inline;
}

body.clm2 div.campErea4 dl.last-bnCol {
	float: left;
	width: 149px;
	margin: 0 0 0 13px;
}
* html body.clm2 div.campErea4 dl.last-bnCol {
	display: inline;
}


/* 4column+asset */
table.h2asset div.cel {
	margin-bottom: 10px;
}

table.h2asset div.cel dl.bnCol {
	float: left;
	width: 144px;
	margin: 0 15px 0 15px;
}

* html table.h2asset div.cel dl.bnCol {
	display: inline;
}

table.h2asset div.cel dl.last-bnCol {
	float: left;
	width: 144px;
	margin: 0 0 0 13px;
}
* html table.h2asset div.cel dl.last-bnCol {
	display: inline;
}


/* 6column */
table.col6 td {
	width: 143px;
	vertical-align: top;
}

div.campErea6 {
	clear: both;
	background-image: url(/common/images/bg-bn-6.gif);
	background-position: left top;
	background-repeat: repeat-y;
}

table.col6 {
	clear: both;
	background-image: url(/common/images/bg-bn-6.gif);
	background-position: left top;
	background-repeat: repeat-y;
}


div.campErea6 div.cel {
	margin-bottom: 10px;
}

div.campErea6 dl.bnCol {
	float: left;
	width: 123px;
	margin: 0 15px 0 15px;
}

* html body div.campErea6 dl.bnCol {
	display: inline;
}

div.campErea6 dl.last-bnCol {
	float: left;
	width: 123px;
	margin: 0 0 0 15px;
}
* html body div.campErea6 dl.last-bnCol {
	display: inline;
}



/* === campaign list page === */
/* 2column */
table.col2 {
	clear: both;
	background-image: url(/common/images/border-default.gif);
	background-position: center;
	background-repeat: repeat-y;
}

table.campTable {
	margin: 0;
	border-top: 1px dashed #d4d4d4;
}

tr.top-row table.campTable {
	margin: 0;
	border-top: none;
}

table.campTable table.mileInfoTable {
	margin-top: 15px;
}

tr.only-row table.campTable table.mileInfoTable,
tr.top-row table.campTable table.mileInfoTable {
	margin-top: 0;
}

tr.last-row table.campTable {
	margin-bottom: 0;
	border-bottom: 1px dashed #d4d4d4;
}

tr.only-row table.campTable {
	margin-bottom: 0;
	border-top: none;
	border-bottom: 1px dashed #d4d4d4;
}


table.campTable table.mileInfoTable,
table.campTable table.descriptionTable {
	margin-bottom: 10px;
}

/* headlineTable */
table.campTable table.headlineTable img.status {
	float: right;
	margin-left: 10px;
}

/* descriptionTable */
table.campTable table.descriptionTable dl dt img {
	vertical-align: bottom;
}

table.campTable table.descriptionTable dl dt img.bn {
	margin-bottom: 0;
}

table.campTable table.descriptionTable dl dt {
	margin-bottom: 10px;
}

table.campTable table.descriptionTable dl dd {
	font-weight: normal;
	line-height: 1.1;
}

table.campTable table.descriptionTable th,
table.campTable table.descriptionTable td {
	vertical-align: top;
}

table.campTable table.descriptionTable p {
	margin: 0 0 0 15px;
}

table.campTable table.descriptionTable p.comment {
	margin-bottom: 10px;
}

table.campTable table.descriptionTable p.flag {
	margin: 0;
	text-align: right;
}

table.campTable table.descriptionTable p.comment_atention {
	margin-bottom: 10px;
	color:#ff0000;
}

table.campTable table.descriptionTable p.date {
	text-align: right;
	margin: 0 0 15px 15px;
}

table.campTable table.descriptionTable ul {
	margin-left: 15px;
}

table.campTable table.descriptionTable ul li {
	display: inline;
}

table.campTable p.otherCategory {
	padding-top: 5px;
	margin-bottom: 2px;
}


/* others style  */

/* 注目させるボックス */
table.rule {
	border: 1px solid #B6DBEC;
	padding: 8px;
	padding-right: 0;
}
table.rule p {
	margin: 4px;
}
table.rule p em {
	font-size: 120%;
	font-weight: bold;
}
table.rule p strong {
	color: #FF6600;
	font-size: 120%;
}



/* ダウンロードなど　[イメージ]　テキストのスタイル */
div.guidance {
	border: 1px solid #B6DBEC;
	padding: 5px;
	text-align: center;
}

div.guidance p {
	text-align: center;
}

div.guidance img {
	vertical-align: middle;
}

/* #page footer  Area */

div#pageEnd-linkArea ul#guide-list {
	width: 680px;
	margin: 0 0 20px 0;
	border-top: 1px dashed #d6d6d6;
}

div#pageEnd-linkArea ul#guide-list li {
	float: left;
	width: 50%;
	padding: 5px 0;
	border-bottom: 1px dashed #d6d6d6;
}

div#pageEnd-linkArea ul#guide2lcm-list li p.inline {
	margin: 0 15px;
}

div#pageEnd-linkArea ul#guide2lcm-list {
	border-top: 1px dashed #d6d6d6;
}

div#pageEnd-linkArea ul#guide2lcm-list li {
	padding: 5px 0;
	border-bottom: 1px dashed #d6d6d6;
}

div#pageEnd-linkArea dl.milemaster dt {
	float: left;
	width: 105px;
}

div#pageEnd-linkArea dl.milemaster dd {
	float: right;
	width: 210px;
	line-height: 1.3;
}



div#pageEnd-linkArea dl.guide dt {
	float: left;
	width: 105px;
}

div#pageEnd-linkArea dl.guide dd {
	float: right;
	width: 210px;
	line-height: 1.3;
}




/* === privacy Area === */

div#mainContent dl.privacy {
	width: 300px;
	margin-bottom: 20px;
}

div#mainContent dl.privacy dt {
	clear: both;
	float: left;
	width: 130px;
	text-align: left;
}

div#mainContent dl.privacy dt img {
	vertical-align: top;
}

div#mainContent dl.privacy dd {
	float: right;
	width: 160px;
}

div#mainContent dl.geotrust {
	clear: both;
	width: 300px;
}

div#mainContent dl.geotrust dt {
	clear: both;
	float: left;
	width: 130px;
	text-align: left;
}

div#mainContent dl.geotrust dd {
	float: right;
	width: 160px;
}

/* -------------------- チェックメール -------------------- */
table.checkMail {
	width: 637px;
	margin-right: 15px;
	margin-left: 15px;
}

body#status-login table.checkMail {
	margin-right: 40px;
	margin-left: 40px;
}

table.checkMail tr th, 
table.checkMail tr td {
	border-bottom: 1px dashed #d6d6d6;
	vertical-align: middle;
	padding-left: 0;
}

table.checkMail tr td img {
	margin: 10px 0;
	border-right: 1px solid #CCC;
}


/* === キャプチャ画像　Step === */

table.captureStep {
	margin-bottom: 15px;
}

table.captureStep td.odd {
	padding-right: 8px;
	padding-left: 15px;
}

table.captureStep td.even {
	padding-right: 15px;
	padding-left: 9px;
}


/* === FAQはココ！ === */
div.faqAsset {
	width: 687px;
	margin-bottom: 15px;
	margin-left: 15px;
	padding-bottom: 5px;
	background-image: url(/common/images/bg-faqbox-btm.gif);
	background-position: bottom;
	background-repeat: no-repeat;
}

div.faqAsset table {
	width: 687px;
	background-image: url(/common/images/bg-faqbox.gif);
	background-repeat: repeat-y;
}

div.faqAsset table th {
	background-image: url(/common/images/bg-h2-faq.jpg);
	background-repeat: no-repeat;
}

div.faqAsset table th h2 {
	width: auto;
	height: 41px;
	margin-bottom: 0;
	margin-left: 16px;
	background: none;	
}

div.faqAsset table td {
	padding: 0 15px;
}

div.faqAsset table td ul {
	margin-top: 5px;
}

div.faqAsset table td ul li {
	margin-bottom: 3px;
	padding-left: 22px;
	background-image: url(/common/images/icon/faq.gif);
	background-position: left 2px;
	background-repeat: no-repeat;
	font-size: 80%;
}

div.faqAsset table td.dr-mile {
	padding-right: 20px;
	padding-bottom: 5px;
	text-align: right;
	vertical-align: bottom;
}


/* === banner === */

/* 105*60 ==> 120*60 */
.bn120 {
	background-image: url(/common/images/bg-bn120.jpg);
	background-position: 0 0;
	background-repeat: no-repeat;
}

.bn120 img {
	margin-left: 8px;
}

/* === banner mile-up-icon === */

/* 105*60 ==> 120*60 */
.bn120-mileUpEs {
	background-image: url(/common/images/bg-bn120.jpg);
	background-position: 0 0;
	background-repeat: no-repeat;
}

.bn120-mileUpEs img {
	vertical-align: top;
	margin-left: 8px;
	margin-right: 8px;
}

/* 120*60 */
.bn120-mileuUp img {
	vertical-align: top;
	margin-right: 8px;
}

/* === Clear Fix === */


body.clm2 div.campErea4:after,
table.h2asset div.cel:after,
div.campErea6:after,
div.campErea6 div.cel:after {
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
	content: ".";
}
body.clm2 div.campErea4,
table.h2asset div.cel,
div.campErea6,
div.campErea6 div.cel {
	display: inline-table;
	min-height: 1%;
}
/* for macIE \*/
* html body.clm2 div.campErea4,
* html body table.h2asset div.cel,
* html body div.campErea6,
* html body div.campErea6 div.cel {
	height: 1%;
}
body.clm2 div.campErea4,
table.h2asset div.cel,
div.campErea6,
div.campErea6 div.cel {
	display: block;
}
/* end of for macIE */


/* 2008.04.18登録フォーム改修のため追記 */
table.per-form {
	border-bottom: 1px solid #ffffff;
	border-right: 1px solid #ffffff;}

table.per-form tr th,
table.per-form tr td {
	border-top: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	padding: 7px;
}